.wrapper {
    width: 640px;
    margin: 10px auto;
}
.nav-wrapper {
    background-color: rgb(250, 250, 250);
    width: 640px;
    padding-bottom: 3px;
}
.default-bar {
    width: 640px;
    position: relative;
    background-color: #606060;
    height: 10px;
}
.progress-bar {
    position: absolute;
    height: 10px;
    background-color: #3498db;
    width: 0;
}
.play-button {
    background-color: rgb(250, 250, 250);
    border: none;
    height: 32px;
    width: 32px;
}
.mute-button {
    background-color: rgb(250, 250, 250);
    border: none;
    height: 32px;
    width: 32px;
}
.mute-button:active, .play-button:active {
    position: relative;
    top: 2px;
}
