<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% extends 'chat/base.html' %}
    {% load static %}
    {% block title %}Find people{% endblock %}
    {% block people_active %}active{% endblock %}
</head>
<body>
    {% block body %}
        <link rel="stylesheet" href="{% static 'chat/css/search.css' %}">
        <div class="content">
            <div class="search">
                <input id="search-field" class="search-field" placeholder="Find people...">
                <button id="search-btn" class="search-btn">Search</button>
            </div>
            <div id="result-block" class="result-block">
                {% if all_users %}
                    {% for usr in all_users %}
                        {% if usr.id != user.id %}
                            <div class="user-found">
                                <a href="/user/{{ usr.id }}">
                                        {% if usr.user_logo %}
                                            <div class="user-img" style="background-image: url({{ usr.user_logo.url }})"></div>
                                        {% else %}
                                            <div class="user-img user-img-none">
                                                <span class="glyphicon glyphicon-user"></span>
                                            </div>
                                        {% endif %}
                                    <p>{{ usr.first_name }} {{ usr.last_name }}</p>
                                </a>
                            </div>
                        {% endif %}
                    {% endfor %}
                {% else %}
                    <p class="not-found">No users found</p>
                {% endif %}
            </div>
            <div class="search-parameters">
                <input id="check-parameters" class="check-parameters" type="checkbox">
                <div id="search-parameters-title" class="search-parameters-title">Additional parameters</div>
                <div id="parameters" class="parameters">
                    <input class="city" id="city" placeholder="City...">
                    <input class="country" id="country" placeholder="Country...">
                    <input onfocus="(this.type='date')" min="1950-01-01" name="birthday" id="birthday" placeholder="Birthday...">
                    <input class="gender" id="gender" placeholder="Gender...">
                    <div id="info" class="info">
                        <p>Info</p>
                        <div>
                            All fields must be filled before searching user.
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <script type="text/javascript">
            var user_id_global = {{ user.id }};
        </script>
        <script type="text/javascript" src="{% static 'chat/js/search.js' %}"></script>
    {% endblock %}
</body>
</html>