<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% extends 'chat/base.html' %}
    {% load static %}
    {% block title %}{{ user_profile.first_name }} {{ user_profile.last_name }}{% endblock %}
</head>
<body>
    {% block body %}
        <link rel="stylesheet" href="{% static 'chat/css/user_profile.css' %}">
        <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" href="{% static 'chat/css/popup.css' %}">
        {% if user_profile.username == user.username %}
            <div class="popup" data-popup="popup-logo">
                <div class="popup-inner">
                    <h3 class="title">Change main photo</h3>
                    <div class="change-photo-form">
                        <img class="uploaded-photo" id="uploaded-photo-logo" src="{{ user_profile.user_logo.url }}">
                        <form method="post" enctype="multipart/form-data" id="change-photo-form">
                            {% csrf_token %}
                            <label class="btn btn-default btn-file">
                                Upload photo <input type="file" style="display: none;" id="img-input-logo" name="logo">
                            </label>
                            <button id="btn-save-logo" class="btn btn-default btn-file">Save</button>
                        </form>
                        <a class="popup-close" data-popup-close="popup-logo" href="#">✖</a>
                    </div>
                </div>
            </div>
        {% endif %}
        <div class="popup" data-popup="popup-all-logos">
            <div class="popup-inner">
                <div class="display-container">
                    {% for logo in user_logos %}
                        <img class="slide-item-logo slide-image" src="{{ logo.photo.url }}" title="{{ logo.upload_time }}">
                    {% endfor %}
                    <label class="btn btn-default slide-btn">
                        &#10094;<input class="slide" id="prev-logo" type="button">
                    </label>
                    <label class="btn btn-default slide-btn">
                        &#10095;<input class="slide" id="next-logo" type="button">
                    </label>
                </div>
                <a class="popup-close" data-popup-close="popup-all-logos" href="#">✖</a>
            </div>
        </div>
        <div class="content">
            <div class="left-part">
                {% if user_profile.user_logo %}
                    <div class="photo-logo" style="background-image: url({{ user_profile.user_logo.url }});">
                        {% if user_profile.username == user.username %}
                            <button data-popup-open="popup-logo" class="add-photo logo">
                                <span class="glyphicon glyphicon-camera"></span>&nbsp;
                                Edit logo
                            </button>
                        {% endif %}
                        {% if user_logos %}
                            <button data-popup-open="popup-all-logos" class="add-photo logo">
                                <span class="glyphicon glyphicon-camera"></span>&nbsp;
                                Photos
                            </button>
                        {% endif %}
                    </div>
                {% else %}
                    <div class="" style="background-image: url({% static 'chat/images/logo_none.png' %});">
                        {% if user_profile.username == user.username %}
                            <button data-popup-open="popup-logo" class="add-photo logo">
                                <span class="glyphicon glyphicon-camera"></span>&nbsp;
                                Add logo
                            </button>
                        {% endif %}
                    </div>
                {% endif %}
                <div class="info">
                    <h1 class="">{{ user_profile.first_name }} {{ user_profile.last_name }}</h1>
                    {% if user_profile.username %}
                        <h4 class="">{{ user_profile.username }}</h4>
                    {% endif %}
                    <div class="send-message">
                        <form name="create-chat-room" method="post">
                            {% csrf_token %}
                            <input name="data" value="{{ user.id }} {{ user_profile.id }}" type="hidden">
                            <textarea name="message" id="msg-area" class="msg-area" placeholder="Type a message..."></textarea>
                            <input id="send-message-btn" class="send-message-btn" type="submit" value="Send message">
                        </form>
                    </div>
                    {% if user_profile.username == user.username %}
                        <div class="edit-profile">
                            <a href="{% url 'edit_profile' %}">
                                <input type="button" value="Edit profile">
                            </a>
                        </div>
                    {% endif %}
                </div>
            </div>
            <div class="right-part">
                <div class="about">
                    <p class="title">About</p>
                    {% if user_profile.user_about_me %}
                        <p class="data">{{ user_profile.user_about_me }}</p>
                    {% else %}
                        <p class="data-none">Nothing to display</p>
                    {% endif %}
                </div>
                <div class="info">
                    <p class="title">Info</p>
                    <div class="data">
                        <table>
                            {% if user_profile.user_city %}
                                <tr>
                                    <th>City:</th>
                                    <th>{{ user_profile.user_city }}</th>
                                </tr>
                            {% endif %}
                            {% if user_profile.user_country %}
                                <tr>
                                    <th>Country:</th>
                                    <th>{{ user_profile.user_country }}</th>
                                </tr>
                            {% endif %}
                            {% if user_profile.user_birthday_day != 0 and user_profile.user_birthday_month %}
                                <tr>
                                    <th>Birthday:</th>
                                    <th>
                                        {{ user_profile.user_birthday_day }}.{{ user_profile.user_birthday_month }}, {{ user_profile.user_birthday_year }}
                                    </th>
                                </tr>
                            {% endif %}
                            {% if user_profile.user_gender %}
                                <tr>
                                    <th>Gender:</th>
                                    <th>{{ user_profile.user_gender }}</th>
                                </tr>
                            {% endif %}
                            {% if user_profile.user_education %}
                                <tr>
                                    <th>Education:</th>
                                    <th>{{ user_profile.user_education }}</th>
                                </tr>
                            {% endif %}
                            {% if user_profile.user_mobile_number %}
                                <tr>
                                    <th>Mobile number:</th>
                                    <th>+38{{ user_profile.user_mobile_number }}</th>
                                </tr>
                            {% endif %}
                            {% if user_profile.email %}
                                <tr>
                                    <th>Email:</th>
                                    <th>{{ user_profile.email }}</th>
                                </tr>
                            {% endif %}
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <script type="text/javascript" src="{% static 'chat/js/user_profile_slider.js' %}"></script>
        <script type="text/javascript" src="{% static 'chat/js/user_profile.js' %}"></script>
        <script type="text/javascript" src="{% static 'chat/js/popup.js' %}"></script>
    {% endblock %}
</body>
</html>