.title {
    text-align: center;
    padding: 10px 0 20px;
}
.title h1 {
    margin: 0;
    padding: 0;
    color: lightblue;
    text-transform: uppercase;
    font-size: 36px;
    animation: animate 60s infinite linear;
}
.content-login {
    width: 100%;
    max-width: 430px;
    height: 450px;
    margin: 0 auto 102px auto;
    opacity: 0.9;
}
.content-register {
    width: 100%;
    max-width: 480px;
    height: 750px;
    margin: 0 auto 50px auto;
    opacity: 0.9;
}
.container {
    position: relative;
    width: 100%;
    height: 100%;
    background: #1d1d1d;
    border: 2px solid #111111;
    box-shadow: 0 15px 40px rgba(0,0,0,0.5);
    border-radius: 1%;
}
.container:before,
.container:after{
    top: 0;
    position: absolute;
    content: "";
    border-radius: 1%;
    width: 100%;
    height: 100%;
    background: #1d1d1d;
    border: 2px solid #111111;
    box-shadow: 0 15px 40px rgba(0,0,0,0.5);
    left: 0;
}
.container:before {
    transform:rotate(2.5deg);
    z-index: -1;
}
.container:after {
    transform:rotate(-2deg);
    z-index: -2;
}
.form-box {
    width: 100%;
    padding: 50px 40px;
    box-sizing: border-box;
    height: 400px;
}
.form-box p {
    margin: 0;
    padding: 0;
    font-weight: bold;
    color: lightblue;
    margin-bottom: 10px;
}
.form-box input {
    background: #111111;
    border-radius: 2%;
    width: 100%;
    margin-bottom: 40px;
    text-indent: 50px;
}
.form-box input[type="text"],
.form-box input[type="password"],
.form-box input[type="email"] {
    color: lightblue;
    border: none;
    border-bottom: 2px solid lightblue;
    outline: none;
    height: 45px;
    -webkit-box-shadow: inset 0 0 0 50px #111111;
}
.form-box input[type="text"]:focus,
.form-box input[type="password"]:focus,
.form-box input[type="email"]:focus {
    border: none;
    border-bottom: 3px solid #111111;
    color: black;
    -webkit-box-shadow: inset 0 0 0 50px lightblue;
}
.form-box .login-register-btn {
    border-radius: 2%;
    width: 100%;
    margin-bottom: 20px;
    border: 2px solid #0c0c0c;
    height: 45px;
    color: lightblue;
    background: #111111;
    cursor: pointer;
    outline: none;
    -webkit-transition: background .3s ease;
    -moz-transition: background .3s ease;
    -o-transition: background .3s ease;
}
.form-box .login-register-btn:hover {
    color: #111111;
    background: lightblue;
}
.form-box a {
    color: lightblue;
    font-size: 12px;
    font-weight: bold;
    margin-left: 27%;
}
.glyphicon-remove {
    font-size: 16px;
    margin-top: 3px;
}
.login-input {
    display: inline;

}
.inner-addon {
  position: relative;
}
.inner-addon .glyphicon {
    position: absolute;
    padding: 10px;
    pointer-events: none;
    border-right: 2px solid #2F2F30;
}
.left-addon .glyphicon  {
    left: 5px;
    top: 4px;
}
.right-addon .glyphicon {
    right: 0;
}
.left-addon input  {
    padding-left: 0;
}
.right-addon input {
    padding-right: 0;
}
@keyframes animate {
    0% {
        color: lightblue;
    }
    50% {
        color: #1d1d1d;
    }
    100% {
        color: lightblue;
    }
}
#received-code-content {
    display: none;
}
.other-login-methods {
    margin: 20px 0 0 15%;
    width: 100%;
}
.other-login-methods .login-social {
    padding: 0 20px 15px 20px;
    margin: 0 5px 0 5px;
}