.popup {
    width: 100%;
    height: 100%;
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    background: rgba(166,166,166,0.75);
    z-index: 10;
}
.popup-inner {
    max-width: 700px;
    width: 90%;
    padding: 10px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform:translate(-50%, -50%);
    box-shadow: 0 15px 40px rgba(0,0,0,0.5);
    border-radius: 3px;
    background: #fff;
}
.popup-close {
    width: 30px;
    height: 30px;
    padding-top: 4px;
    display: inline-block;
    position: absolute;
    top: 0;
    right: 0;
    transition: ease 0.25s;
    -webkit-transform: translate(50%, -50%);
    transform: translate(50%, -50%);
    border-radius: 1000px;
    background: #000000;
    opacity: 0.9;
    z-index: 1;
    font-size: 20px;
    text-align: center;
    line-height: 100%;
}
.popup-close:hover {
    text-decoration: none;
}