.content {
    width: 75vw;
    min-width: 300px;
    min-height: 70vh;
    margin: auto;
}
.content .left-part {
    position: relative;
    float: left;
    width: 100vw;
    max-width: 300px;
    min-width: 200px;
    margin: 30px 50px auto auto;
    color: #ffffff;
}
.left-part .photo-logo {
    background: #D4D4D4;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    width: 100%;
    height: 300px;
    min-width: 100px;
    border: 2px solid #262626;
    border-radius: 5px;
    box-shadow: 0 15px 40px rgba(0,0,0,0.5);
}
.left-part .info {
    margin-top: 30px;
    font-weight: bold;
}
.info h4 {
    font-style: italic;
}
.info .send-message {
    width: 100%;
}
.info .edit-profile {
    margin: 10px auto 50px auto;
    width: 100%;
}
.edit-profile input {
    width: 100%;
}
.info input {
    background: #A9A9A9;
    border: 1px solid #262626;
    border-radius: 5px;
    height: 30px;
}
.info input:hover {
    background: #666666;
    color: black;
    -webkit-transition: background .3s ease;
    -moz-transition: background .3s ease;
    -o-transition: background .3s ease;
}
.info input:focus {
    background: #484848;
}
.edit-profile a {
    text-decoration: none;
    color: #222222;
}
.send-message {
    margin-top: 15px;
}
.send-message textarea,
.send-message input {
    width: 100%;
    color: #222222;
}
.send-message textarea {
    display: none;
    border-radius: 5px;
    border: none;
    padding: 5px;
    font-weight: normal;
}
.content .right-part {
    float: left;
    margin: 30px 30px 60px 0;
    width: 100%;
    max-width: 610px;
    min-width: 200px;
    color: #666666;
}
.right-part .about {
    border-radius: 5px;
    border: 1px solid #262626;
    background: #ffffff;
    width: 100%;
    box-shadow: 0 15px 40px rgba(0,0,0,0.5);
}
.right-part .title {
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    border-bottom: 1px solid #666666;
    padding: 5px 0 5px 0;
    background: #A9A9A9;
    font-weight: bold;
    font-style: italic;
}
.about .data {
    padding: 5px 15px 15px 15px;
    margin: 5px 20% 15px 20%;
    border-bottom: 1px solid #A9A9A9;
    font-size: 13px;
}
.about .data-none {
    padding: 5px 15px 5px 15px;
    margin: 5px 20% 15px 20%;
    border-bottom: 1px solid #A9A9A9;
    text-align: center;
    color: #A9A9A9;
    font-size: 13px;
}
.right-part .info {
    background: #ffffff;
    border-radius: 5px;
    border: 1px solid #262626;
    margin-top: 20px;
    width: 100%;
    box-shadow: 0 15px 40px rgba(0,0,0,0.5);
}
.info .data {
    padding: 5px 15px 0 15px;
    margin: 5px auto 15px auto;
}
.data table {
    width: 80%;
    margin: auto;
}
.data th {
    padding: 0 20px 10px 0;
    font-size: 13px;
    overflow: hidden;
}
.add-photo {
    outline: none;
    height: 30px;
    border-radius: 5%;
    background: rgba(119, 119, 119, 0.5);
    border: 1px solid #262626;
    margin: 10px auto auto 10px;
    text-align: center;
    display: none;
    padding: 0 10px 0 10px;
    z-index: 2;
    color: #262626;
}
.add-photo .logo {
    display: none;
}
.add-photo:hover {
    background: rgba(179, 179, 179, 0.5);
    -webkit-transition: opacity .3s ease;
    -moz-transition: opacity .3s ease;
    -o-transition: opacity .3s ease;
}
.title {
    text-align: center;
    color: #262626;
}
.btn-file {
    font-size: 16px;
    width: 40%;
    height: 40px;
    overflow: hidden;
    background: #fff;
    border: 1px solid lightgray;
    margin-top: 20px;
}
.btn-file:hover {
    background: #d9d9d9;
    -webkit-transition: background .3s ease;
    -moz-transition: background .3s ease;
    -o-transition: background .3s ease;
}
.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: #484848;
    cursor: inherit;
    display: block;
}
.change-photo-form {
    width: 80%;
    text-align: center;
    margin: 10px auto 30px 10%;
}
.uploaded-photo {
    border: 1px dotted #262626;
    border-radius: 5px;
    width: 70%;
    height: auto;
}
.all-logos {
    width: 100%;
    height: 100%;
    background: none;
    z-index: 10;
}
.display-container {
    width: 100%;
    text-align: center;
}
.slide-image {
    width: 70%;
    border: 1px solid #A9A9A9;
    border-radius: 5px;
    display: block;
    margin: auto;
}
.slide {
    background: none;
    border: none;
    outline: none;
}
.slide-btn {
    width: 20%;
    height: 45px;
    font-size: 20px;
    padding: 0;
    margin-top: 10px;
}
