{% extends 'chat/base.html' %}
{% load static %}
{% block title %}Edit profile{% endblock %}
{% block head %}
	{{ block.super }}
	<link rel="stylesheet" href="{% static 'account/css/edit_profile.css' %}">
{% endblock %}
{% block edit_profile_active %}active{% endblock %}
{% block body %}
	{% if response_msg %}
		<div class="alert alert-success alert-dismissable">
			<a href="#" class="close" data-dismiss="alert" aria-label="close">
				<span class="glyphicon glyphicon-remove"></span>
			</a>
			<strong>SUCCESS: </strong>{{ response_msg }}
		</div>
	{% endif %}
	<div class="edit-profile">
		<form action="" method="post">{% csrf_token %}
			<table>
				<tr>
					<th><p>First name:</p></th>
					<th>
                        <input placeholder="Your first name..." name="first_name" id="first_name" {% if user_data.first_name %}value="{{ user_data.first_name }}" {% endif %}required>
                    </th>
				</tr>
				<tr>
					<th><p>Last name:</p></th>
					<th><input placeholder="Your last name..." name="last_name" id="last_name" {% if user_data.last_name %}value="{{ user_data.last_name }}" {% endif %}required></th>
				</tr>
				<tr>
					<th><p>City:</p></th>
					<th>
                        <input placeholder="Your current city..." name="city" id="city"{% if user_data.city %} value="{{ user_data.city }}"{% endif %}>
                    </th>
				</tr>
				<tr>
					<th><p>Country:</p></th>
					<th>
						<select class="select-country" id="country" name="country">
							<option {% if not user_data.country %}selected="selected"{% endif %}></option>
							{% for country in country_list %}
								<option{% if user_data.country and user_data.country == country %} selected{% endif %}>{{ country }}</option>
							{% endfor %}
						</select>
					</th>
				</tr>
				<tr>
					<th><p>Birthday:</p></th>
					<th>
						<input type="date" min="1950-01-01" name="birthday" id="birthday"{% if user_data.birthday %} value="{{ user_data.birthday | date }}"{% endif %}>
					</th>
				</tr>
				<tr>
					<th><p>Gender:</p></th>
					<th>
						<select id="gender" name="gender" required>
							<option{% if not user_data.gender %} selected{% endif %}></option>
							<option{% if user_data.gender and user_data.gender == 'Male' %} selected{% endif %}>Male</option>
							<option{% if user_data.gender and user_data.gender == 'Female' %} selected{% endif %}>Female</option>
						</select>
					</th>
				</tr>
				<tr>
					<th><p>Education:</p></th>
					<th>
                        <input placeholder="Your place of education..." name="education" id="education"{% if user_data.education %} value="{{ user_data.education }}"{% endif %}>
                    </th>
				</tr>
				<tr>
					<th><p>Phone:</p></th>
					<th>
                        <input placeholder="Your mobile number..." oninput="this.value=this.value.replace(/[^0-9]/g,'');" name="mobile_number" id="mobile_number" maxlength="10"{% if user_data.mobile_number %} value="{{ user_data.mobile_number }}"{% endif %}>
                    </th>
				</tr>
				<tr>
					<th><p>About me:</p></th>
					<th>
                        <textarea placeholder="Your short description..." name="about_me" id="about_me">{% if user_data.about %}{{ user_data.about }}{% endif %}</textarea>
                    </th>
				</tr>
			</table>
			<input type="submit" value="Save" id="save">
		</form>
	</div>
{% endblock %}
{% block footer %}
{% endblock %}
