{% extends 'base.html' %}
{% load static %}
{% block title %}Register{% endblock %}
{% block head %}
	{{ block.super }}
	<link rel="stylesheet" href="{% static 'account/css/login_register_style.css' %}">
{% endblock %}
{% block register_active %}active{% endblock %}
{% block body %}
	{% if form.errors %}
		<div class="alert alert-danger alert-dismissable">
			<a href="#" class="close" data-dismiss="alert" aria-label="close">
				<span class="glyphicon glyphicon-remove"></span>
			</a>
			<strong>Error(s): </strong>{{ form.errors }}
		</div>
	{% endif %}
	<div class="title"><h1>Register</h1></div>
	<div id="content-register" class="content-register">
		<div class="container">
			<div class="form-box">
				<form action="" method="post">{% csrf_token %}
					<p>First name:</p>
					<div class="inner-addon left-addon">
						<i class="glyphicon glyphicon-pencil"></i>
						<input placeholder="First name..." name="first_name" id="first_name" type="text" required>
					</div>
					<p>Last name:</p>
					<div class="inner-addon left-addon">
						<i class="glyphicon glyphicon-pencil"></i>
						<input placeholder="Last name..." name="last_name" id="last_name" type="text" required>
					</div>
					<p>Username:</p>
					<div class="inner-addon left-addon">
						<i class="glyphicon glyphicon-user"></i>
						<input placeholder="Username..." name="username" id="username" type="text" required>
					</div>
					<p>Email:</p>
					<div class="inner-addon left-addon">
						<i class="glyphicon glyphicon-envelope"></i>
						<input placeholder="Email..." name="email" id="email" type="email" required>
					</div>
					<p>Password:</p>
					<div class="inner-addon left-addon">
						<i class="glyphicon glyphicon-lock"></i>
						<input placeholder="Password..." name="password" id="password" type="password" required>
					</div>
					<div id="received-code-content">
						<p>Received code:</p>
						<div class="inner-addon left-addon">
							<i class="glyphicon glyphicon-lock"></i>
							<input id="received-code" name="code" type="text" placeholder="Received code..." required>
						</div>
					</div>
					<button class="login-register-btn" id="register">Register</button>
				</form>
				<a href="{% url 'login' %}">Already have an account?</a>
			</div>
		</div>
	</div>
{% endblock %}
{% block footer %}
	<script type="text/javascript" src="{% static 'api/js/register.js' %}"></script>
{% endblock %}
